 @import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }



header, main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

header a {
    display: block;
    color: var(--text-light);
}

img {
    max-width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: #fff;
    padding: 4px;
    box-shadow: 5px 5px 3px grey;
}

main {
    background-color: var(--text-light);
}